{% extends 'base.html' %}
{% load static %}

{% block link %} 
<!-- <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script> -->
<script src="{% static 'js/jquery.js' %}"></script>

{% endblock %}


{% block menu %} 
<!-- header -->
<header class="" style="border-radius: 0px; font-family: 'Baloo Chettan 2';">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 bg-body rounded-start">
    <div class="container-fluid col-lg-11 ms-auto">
      
    <a class="navbar-brand landing-brand" href="{% url 'account' %}" style="font-weight: bold; font-size: 20px; color: rgb(0, 74, 150);">
    <!-- <i class="fas fa-key" style="font-weight: bold;"></i> -->
      Master<font style="color: rgb(243,147,0);">UZ</font></a>
      
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

   <!-- **************************** -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav">
  <li class="nav-item">
  <a class="nav-link active" href="{% url 'summary' %}">Мои резюме</a>
  </li>
  </ul>
  </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mx-2">
      <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-user-circle account_logatip"></i></a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{request.user.last_name}} {{request.user.first_name}}
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="dropdown-item" href="{% url 'account_info' %}">Hisob sozlamalari</a></li>
      <li><a class="dropdown-item" href="{% url 'logout' %}">Chiqish</a></li>
      </ul>
      </li>
      </ul>
    </div>

    
  </div>
  </nav>
</header>
<!-- header -->
{% endblock %}



{% block content %}

<div class="container-fluid">
  <div class="container"> 
  <div class="row">

  <div class="col-lg-12 mt-5">
  <h6 class="mb-4 text-muted">Ваше резюме</h6>
  
  <a href="#" style="text-decoration: none;">
  <button type="button" class="btn btn-primary btn-sm mb-2 rounded-1">Загрузить из файла</button>
  </a>
  <!-- <button type="button" class="btn btn-primary btn-sm mb-2 rounded-1">Buyrutma berish tarjimai hol</button> -->
 
  </div>




  <form method="post" action="{% url 'summary_create' %}" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}" enctype="multipart/form-data">{% csrf_token %}
  <div class="col-lg-12 mt-5">
  <h6 class="mb-4">Контактные данные</h6>
  


<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->  
  <div class="mb-4 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Имя</small></label>
  <div class="col-sm-4">
  {{form.first_name}}  {{form.first_name.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->


<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

  <div class="mb-3 row">
  <label for="staticEmail" class="col-sm-2 col-form-label"><small>Фамилия</small></label>
  <div class="col-lg-4">
  {{form.last_name}}   {{form.last_name.errors}}
  </div> 
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->



<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-5 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Мобильный телефон</small></label>
  <div class="col-sm-4">
  {{form.phone_name}}   {{form.phone_name.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->






<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-5 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Город проживания</small></label>
  <div class="col-sm-4">
    
  <div class="mb-2 row">
  <label for="inputPassword" class="col-sm-2 col-lg-12 col-form-label"><small>Выберите область</small></label>
  <div class="col-sm-12">
  {{form.provinces}}   {{form.provinces.errors}}
  </div>
  </div>

  <div class="mb-2 row">
  <label for="inputPassword" class="col-sm-2 col-lg-12 col-form-label"><small>Выберите район или город</small></label>
  <div class="col-sm-12">
   {{form.region}} {{form.region.errors}}
  </div>
  </div>

  </div>
  </div>

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->






<h6 class="mb-4">Основная информация</h6>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
 <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Дата рождения</small></label>
  <div class="col-sm-4">
  {{form.data_time}} {{form.data_time.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->




<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Пол</small></label>
  <div class="col-sm-4">
  {{form.sex}}  {{form.sex.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->






<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-5 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Гражданство</small></label>
  <div class="col-sm-4">
    
  <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">Выберите гражданство</a>
  
  </div>
  </div>


  <!-- modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content rounded-1">
  <div class="modal-header">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
  
  <div class="overflow-auto" style="height: 400px;">
  <div class="row">
  {{form.citizenship}}   {{form.citizenship.errors}}
  </div>
  </div>
  
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary rounded-1" data-bs-dismiss="modal">Bekor qilish</button>
  <button type="button" class="btn btn-primary rounded-1" data-bs-dismiss="modal">Saqlash</button>
  </div>
  </div>
  </div>
  </div>
  <!-- modal -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->





<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Опыт работы</small></label>
  <div class="col-sm-4">
  {{form.workexper}}  {{form.workexper.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->






<h6 class="mb-4">Специальность</h6>


<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Желаемая должность
</small></label>
  <div class="col-sm-4">
  {{form.carobjec}}  {{form.carobjec.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->


<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Ключевые навыки</small></label>
  <div class="col-sm-4"> 
  {{form.key_skills}}  {{form.key_skills.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->


<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Зарплата</small></label>
  <div class="col-sm-3">
  {{form.thesalary}}    {{form.thesalary.errors}}
  </div>
  <div class="col-sm-1">
  {{form.moneys}}    {{form.moneys.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->






<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<div class="collapse" id="collapseExample7">
  
  <div class="mb-5 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Профессиональная область</small></label>
  <div class="col-sm-4">
    


 <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal6">Указать профобласти</a>
  </div>
  </div>

</div>
  <!-- modal -->
  <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content rounded-1">
  <div class="modal-header">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">

  <div class="mb-4 row">
  <label for="inputPassword" class="col-lg-12 col-form-label"><small>Выбор профобластей</small></label>
  <div class="col-sm-12">
  {{form.profess}}   {{form.profess.errors}}
  </div>
  </div>

  <div class="mb-4 row">
  <label for="inputPassword" class="col-lg-12 col-form-label"><small>Специальности</small></label>
  <div class="col-sm-12">
   {{form.thchopr}}   {{form.thchopr.errors}}
  </div>
  </div>
  
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary rounded-1" data-bs-dismiss="modal">Bekor qilish</button>
  <button type="button" class="btn btn-primary rounded-1" data-bs-dismiss="modal">Saqlash</button>
  </div>
  </div>
  </div>
  </div>
  <!-- modal -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->






<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<div class="collapse" id="collapseExample">
<h6 class="mb-4">Опыт работы</h6>

  <div class="mb-5 row tajriba" id="tajribabor">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Места работы</small></label>
  <div class="col-sm-4">
    
  <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3">Добавить место работы</a>

  </div>
  </div>

</div>

  <!-- modal -->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content rounded-1">
  <div class="modal-header">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
  
  <table class="">
  <thead>
  <tr></tr>
  </thead>
  <tbody>
  {% for form_data in formset %}
  
  <div class="item">

  <div class="row">
    <div class="col">
      <label for="inputEmail4"><small>Ishning boshlanishi</small></label>
      {{ form_data.begwork }}  {{form.begwork.errors}}
    </div>
    <div class="col mt-1">
      <label for="inputEmail4"><small>Tugatish</small></label>
      {{ form_data.finishw }}   {{form.finishw.errors}}
    </div>

    <div class="col mt-1">
      <label for="inputEmail4"><small>Tashkilot</small></label>
      {{ form_data.organiza }}  {{form.organiza.errors}}
    </div>

    <div class="col mt-1">
      <label for="inputEmail4"><small>Lavozim</small></label>
      {{ form_data.position }}   {{form.position.errors}}
    </div>
  </div>

    <div class="form-floating mt-1">
    {{ form_data.workplaceres }}    {{form.workplaceres.errors}}
    <label for="floatingTextarea2">Ish haqida yozing</label>
    </div>


    <div>
    <button type="button" class="btn btn-danger btn-sm remove-form-row mt-2 rounded-1" id="{{ formset.prefix }}">Oxirgi jadvalni o'shirish</button>
    </div>
  </div>

  {% endfor %}
  <tr>
  <td colspan="9"
  style="border-left: none!important; border-right: none !important; border-bottom: none!important;">
  
  <button type="button" class="btn btn-sm btn-success mt-2 add-form-row  rounded-1" id="{{ formset.prefix }}">Yangi jadval qo'shish
  </button>

  </td>
  </tr>
  </tbody>
  </table>
  {{ formset.management_form }}    {{form.management_form.errors}}
  
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary rounded-1" data-bs-dismiss="modal">Bekor qilish</button>
  <button type="button" class="btn btn-primary rounded-1" data-bs-dismiss="modal">Saqlash</button>
  </div>
  </div>
  </div>
  </div>
  <!-- modal -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->




<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
<div class="collapse" id="collapseExample2">
<h6 class="mb-4">Специальность</h6>


  <div class="mb-5 row tajriba" id="tajribabor">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Специализации</small></label>
  <div class="col-sm-4">
    
  <div class="input-group mb-3">
    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal4">Изменить специализации</a>
  </div>

  </div>
  </div>
</div>


 <!-- modal -->
  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content rounded-0">
  <div class="modal-header">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
  
  <div class="mb-3 row">
  <div class="col-sm-12">
  {{form.speciali}}   {{form.speciali.errors}}
  </div>
  </div>

  
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary rounded-1" data-bs-dismiss="modal">Bekor qilish</button>
  <button type="button" class="btn btn-primary rounded-1" data-bs-dismiss="modal">Saqlash</button>
  </div>
  </div>
  </div>
  </div>
  <!-- modal -->
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->






   <script type="text/javascript">
      document.getElementById("id_workexper_0").onchange = function () {
      if (this.value == "Есть опыт работы"){
        // document.getElementById("tajribabor").style.display="block";
        // $('#tajribabor').toggleClass("tajriba")      
        $("#collapseExample").collapse('show');
        $("#collapseExample7").collapse('show');
        $("#collapseExample2").collapse('hide');
      }
      };
      document.getElementById("id_workexper_1").onchange = function () {
      if (this.value == "Нет опыта работы"){
      // document.getElementById("tajribabor").style.display="none";
        $("#collapseExample").collapse('hide');
        $("#collapseExample7").collapse('hide');
        $("#collapseExample2").collapse('show');   
      }
      };



    </script>




<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Фотография 1</small></label>
  <div class="col-sm-4">
  {{form.image1}}   {{form.image1.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Фотография 2</small></label>
  <div class="col-sm-4">
  {{form.image2}}   {{form.image2.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Фотография 3</small></label>
  <div class="col-sm-4">
  {{form.image3}}  {{form.image3.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Фотография 4</small></label>
  <div class="col-sm-4">
  {{form.image4}}  {{form.image4.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Фотография 5</small></label>
  <div class="col-sm-4">
  {{form.image5}}    {{form.image5.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->

<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->
  <div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label"><small>Фотография 6</small></label>
  <div class="col-sm-4">
  {{form.image6}}  {{form.image6.errors}}
  </div>
  </div>
<!-- ↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕↕ -->





  <button type="submit" class="btn btn-primary rounded-1 mt-5 mb-5">Подтвердить</button>
  </div>
  </form>

  </div>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript" src="{% static 'js/formset.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_provinces").change(function () {
        const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
        const countryId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'user_id': countryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_region").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

    });
</script>
{% endblock %}