{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Bosh sahifa</title> 
{% endblock %}

{% load crispy_forms_tags %}  

{% block content %}

<style type="text/css">
  #id_email {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label{
  margin-bottom: .5rem;
  display: inline-block;
  box-sizing: border-box;
  cursor: default;
}
</style>

<main style="height: 400px;">
<div class="container">
<div class="col-12 col-sm-12 col-md-10 col-lg-12 m-auto mt-5">

<form method="post" action="">{% csrf_token %}
<div class="card m-auto shadow-sm col-lg-4 mb-5">
<div class="card-body">
<h5 class="card-title">Hisobingizni tiklash</h5>

<div class="mb-3 col-lg-8">
{{form|crispy}}  
</div>


<button type="submit" class="btn btn-primary rounded-1">Yuborish</button>

</div>
<div>  
</div>

</div>
</form>

</div>


</div>
</main>

{% endblock %}





