{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Bosh sahifa</title> 
{% endblock %}

{% block link %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
{% endblock %}


{% load crispy_forms_tags %}  

{% block content %}
<style type="text/css">
#id_new_password1 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#id_new_password2 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -28px;
  position: relative;
  z-index: 2;
}

.field-icon2 {
  float: right;
  margin-left: -25px;
  margin-top: 45px;
  position: relative;
  z-index: 2;

}
</style>


<main style="height: 400px;">
<div class="container">
<div class="col-12 col-sm-12 col-md-10 col-lg-12 m-auto mt-5">

<form method="post" action="">{% csrf_token %}
<div class="card m-auto shadow-sm col-lg-4 mb-5">
<div class="card-body">
<h5 class="card-title">Parolni qayta tiklash</h5>

    <div class="mb-3" style="font-size: 18px;">
    <label for="exampleInputPassword1" class="form-label"><small>Parol</small></label>
    {{form.new_password1}}
    <i id="eyebaxodir" class="fas fa-eye field-icon" onclick="Baxodir1()"></i>
    </div>


    <div class="mb-3" style="font-size: 18px;">
    <label for="exampleInputPassword1" class="form-label"><small>Parolni qayta kiriting</small></label>
    <i id="eyebaxodir2" class="fas fa-eye field-icon2" onclick="Baxodir2()"></i>
    {{form.new_password2}}
    </div>

<button type="submit" class="btn btn-primary rounded-1">Tasdiqlash</button>

</div>
<div>  
</div>
</div>
</form>
</div>
</div>
</main>


<script>
function Baxodir1() {
  
  var p1 = document.getElementById("id_new_password1");
  if (p1.type === "password") {
    $('#eyebaxodir').toggleClass("fas fa-eye-slash");
    p1.type = "text";
  } else {
    p1.type = "password";
    $('#eyebaxodir').toggleClass("fas fa-eye");
  }
}


function Baxodir2() {
  
  var p2 = document.getElementById("id_new_password2");
  if (p2.type === "password") {
    $('#eyebaxodir2').toggleClass("fas fa-eye-slash");
    p2.type = "text";
  } else {
    p2.type = "password";
    $('#eyebaxodir2').toggleClass("fas fa-eye");
  }
}

</script>

{% endblock %}