{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Bosh sahifa</title> 
{% endblock %}

{% block link %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
{% endblock %}


{% load crispy_forms_tags %}  

{% block content %}
<style type="text/css">
#id_new_password1 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#id_new_password2 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -28px;
  position: relative;
  z-index: 2;
}

.field-icon2 {
  float: right;
  margin-left: -25px;
  margin-top: 45px;
  position: relative;
  z-index: 2;

}
</style>


<main style="height: 400px;">
<div class="container">
<div class="col-12 col-sm-12 col-md-10 col-lg-12 m-auto mt-5">

<div class="card m-auto shadow-sm col-lg-4 mb-5">
<div class="card-body">

<h3 class="h5 mb-3 font-weight-normal text-info" style="font-size: 20px;">Parolni tiklash mofaqiyatli tugallandi</h3>


<a href="{% url 'home' %}">
<button type="button" class="btn btn-primary rounded-1">Tizimga qaytish</button>
</a>


</div>
<div>  
</div>
</div>

</div>
</div>
</main>


{% endblock %}



































